name: Build Sphinx Docs

on:
  push:
    branches:
      - main # or your default branch, e.g., master, develop
  pull_request:
    branches:
      - main # or your default branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x' # Specify your desired Python version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt # Install Sphinx and extensions

      - name: Build Sphinx documentation
        run: |
          sphinx-build -b html docs/ docs/_build/html # Build HTML output

      - name: Upload documentation artifact
        uses: actions/upload-artifact@v4
        with:
          name: sphinx-docs
          path: docs/_build/html